{% extends "base.html" %}
{% block content %}
    <!-- Heading & Filters -->
    <div class="mb-4 items-end justify-between space-y-4 sm:flex sm:space-y-0 md:mb-8">
        <div class="flex items-center space-x-4">
            <button id="actionsDropdownButton1"
                    data-dropdown-toggle="dropdownactions1"
                    type="button"
                    class="cursor-pointer flex w-full items-center justify-center rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 sm:w-auto">
                <svg class="-ms-0.5 me-2 h-4 w-4"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     fill="none"
                     viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 8v8m0-8h8M8 8H6a2 2 0 1 1 2-2v2Zm0 8h8m-8 0H6a2 2 0 1 0 2 2v-2Zm8 0V8m0 8h2a2 2 0 1 1-2 2v-2Zm0-8h2a2 2 0 1 0-2-2v2Z" />
                </svg>
                Actions
                <svg class="-me-0.5 ms-2 h-4 w-4"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     fill="none"
                     viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7" />
                </svg>
            </button>
            <div id="dropdownactions1"
                 class="z-50 hidden w-40 lg:min-w-52 divide-y divide-gray-100 rounded-lg bg-white shadow dark:bg-gray-700"
                 data-popper-placement="bottom">
                <ul class="p-2 text-left text-sm font-medium text-gray-500 dark:text-gray-400"
                    aria-labelledby="actionsDropdownButton">
                    <li>
                        <a href="{% url 'odk_publish:app-users-generate-qr-codes' request.odk_project.pk %}"
                           class="group inline-flex w-full items-center rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">Regenerate QR Codes</a>
                    </li>
                    <li>
                        <a href="{% url 'odk_publish:app-users-export' request.odk_project.pk %}"
                           class="group inline-flex w-full items-center rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">Export</a>
                    </li>
                    <li>
                        <a href="{% url 'odk_publish:app-users-import' request.odk_project.pk %}"
                           class="group inline-flex w-full items-center rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">Import</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
        {% for app_user in app_users %}
            <div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800">
                <div class="h-64 w-full">
                    {% if app_user.qr_code %}
                        <img class="mx-auto h-full"
                             width=""
                             height=""
                             src="{{ app_user.qr_code.url }}"
                             alt="ODK Collect QR Code for {{ app_user }}" />
                    {% endif %}
                </div>
                <div class="pt-6">
                    <a href="{% url 'odk_publish:app-user-detail' app_user.project_id app_user.pk %}"
                       class="text-lg font-semibold leading-tight text-gray-900 hover:underline dark:text-white">{{ app_user }}</a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Forms:
                        {% for app_user_form in app_user.app_user_forms.all %}{{ app_user_form.form_template.title_base }}{% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
