{% extends "base.html" %}
{% load django_tables2 partials %}
{% block page_header %}
    Publish next version of {{ form_template.title_base }}
{% endblock page_header %}
{% block content %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('publishing', false)
        })
    </script>
    <div class="gap-8 md:flex">
        <!-- Sidenav -->
        <aside id="sidebar"
               class="mb-6 h-full shrink-0 overflow-y-auto border border-gray-200 bg-white p-3 shadow-sm dark:border-gray-700 dark:bg-gray-800 lg:block lg:rounded-lg md:w-80">
            {% partialdef publish-form-partial inline %}
                <span x-data
                      x-init="$store.publishing = {% if form.is_valid %}true{% else %}false{% endif %}"></span>
                <form method="post" class="max-w-2xl" hx-target="this" hx-swap="outerHTML">
                    {% csrf_token %}
                    {{ form.form_template.as_hidden }}
                    <div class="grid gap-4 sm:grid-cols-1 sm:gap-6">
                        <div id="id_form_container">
                            {{ form.app_users.label_tag }}
                            {{ form.app_users }}
                            {{ form.app_users.errors }}
                        </div>
                        <div class="flex items-center space-x-4">
                            <button type="submit"
                                    hx-post="{% url 'odk_publish:form-template-publish' request.odk_project.id form_template.id %}"
                                    :disabled="$store.publishing"
                                    :class="{'btn-disabled': $store.publishing}"
                                    class="btn btn-outline btn-primary w-full">
                                <svg class="inline-flex items-center w-4.5 h-4.5 mr-1.5 -ml-1 -mt-0.5 text-gray-800 dark:text-white"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2M12 4v12m0-12 4 4m-4-4L8 8" />
                                </svg>
                                Publish next version
                                <svg aria-hidden="true"
                                     role="status"
                                     x-cloak
                                     x-show="$store.publishing"
                                     class="inline-flex items-center w-4.5 h-4.5 ml-1.5 -mr-1 -mt-0.5 me-3 text-gray-200 animate-spin dark:text-gray-600"
                                     viewBox="0 0 100 101"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            {% endpartialdef publish-form-partial %}
        </aside>
        <div class="grid w-full gap-4">
            {% partialdef publish-ws-init-partial inline %}
                <div id="publish-ws-init-partial" hx-swap-oob="true">
                    {% if form.is_valid %}
                        <h3 class="flex items-center text-xl font-semibold leading-none text-gray-900 dark:text-white">Publish Events</h3>
                        <div class="my-4 grid gap-4 md:my-6 md:gap-12">
                            <div id="message-list-wrapper"
                                 hx-ext="ws"
                                 ws-connect="/ws/publish-template/"
                                 class="border-r-2 border-primary-400 dark:border-gray-700">
                                <form hx-ws="send" hx-trigger="load delay:1ms">
                                    {{ form.form_template.as_hidden }}
                                    {{ form.app_users.as_hidden }}
                                </form>
                                <div id="message-list"
                                     class="max-h-screen overflow-y-auto grid grid-cols-5"
                                     hx-swap-oob="afterbegin"></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endpartialdef publish-ws-init-partial %}
        </div>
    </div>
{% endblock content %}
{% partialdef publish-partial %}
    {% partial publish-form-partial %}
    {% partial publish-ws-init-partial %}
{% endpartialdef publish-partial %}
