*/__pycache__/*
*.bak
*.dump
*.pgdump
*.pyc
*.sqlite3
*.db
.coverage
.direnv
.envrc
.env
!services/.env
.google
# Media/static
main.css
public/
media/
test_media/
# -------------------------------
node_modules/
deploy/roles
venv/
.idea/
.vscode
.vscode/settings.json
*.ipynb_checkpoints
*.ipynb
client_secret*.json
__pycache__/
.pyodk_config.toml
~*.xlsx
docs/_build/
.tmp_dagster*
