@import "tailwindcss";

@config "./../../../tailwind.config.js";

/* https://tailwindcss.com/docs/v4-beta */
/* https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */
@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-primary: oklch(37.53% 0.0438 226.2);
  --color-green: oklch(63.04% 0.1013 183.03);
  --color-yellow: oklch(83.42% 0.117 87.43);
  --color-orange: oklch(78.06% 0.1269 57.86);
  --color-red: oklch(67.83% 0.1559 35.18);
  --color-error: var(--color-red-500);
}

@layer components {
  .btn {
    @apply font-medium text-center text-sm px-5 py-2.5 rounded-lg cursor-pointer;
  }
  .btn-primary {
    @apply text-white bg-brand-primary-dark hover:bg-brand-primary-medium focus:ring-4 focus:outline-none focus:ring-primary-300;
  }
  .btn-danger {
    @apply text-brand-danger-medium  bg-white rounded-lg border border-brand-danger-medium hover:bg-brand-danger-light hover:text-brand-danger-medium focus:outline-none focus:ring-4 focus:ring-gray-200;
  }
  .btn-outline {
    @apply text-brand-primary-dark bg-white border border-blue-900 hover:bg-brand-primary-medium hover:text-white focus:ring-4 focus:outline-none focus:ring-primary-300;
  }
  .btn-active {
    @apply text-white bg-brand-primary-medium border border-blue-900 hover:bg-brand-primary-medium hover:text-white focus:ring-4 focus:outline-none focus:ring-primary-300;
  }
}
