{% extends "eportal/base.html" %}
{% load tags %}
{% block title %}
    Enter new password
{% endblock title %}
{% block content %}
    <section class="flex flex-col mt-10">
        <!-- Logo -->
        <div class="m-auto w-full">
            {% if validlink %}
                <div class="flex flex-col justify-center items-center my-6 space-y-4">
                    <h1 class="text-4xl font-extrabold leading-none text-blue-900 whitespace-nowrap">Set a new password!</h1>
                    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                </div>
                <div class="flex flex-col items-center justify-center w-full">
                    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                            <form method="post" class="space-y-4 md:space-y-6">
                                {% csrf_token %}
                                <div>
                                    <label for="new_password1"
                                           class="block text-sm mb-2 font-medium text-blue-900 dark:text-white">
                                        New password
                                    </label>
                                    {{ form.new_password1|add_class:"bg-gray-50 border border-brand-accent-medium text-blue-900 sm:text-sm rounded-lg focus:ring-blue-300 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                                    {{ form.new_password1.errors }}
                                </div>
                                <div>
                                    <label for="new_password2"
                                           class="block text-sm mb-2 font-medium text-blue-900 dark:text-white">
                                        New password confirmation
                                    </label>
                                    {{ form.new_password2|add_class:"bg-gray-50 border border-brand-accent-medium text-blue-900 sm:text-sm rounded-lg focus:ring-blue-300 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                                    {{ form.new_password2.errors }}
                                </div>
                                <button type="submit" class="w-full btn btn-primary">Change password</button>
                            </form>
                            <ul class="list-disc">
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
                </p>
            {% endif %}
        </div>
    </section>
{% endblock content %}
