{% extends "eportal/base.html" %}
{% load tags %}
{% block title %}
    Forgot Your Password?
{% endblock title %}
{% block content %}
    <section class="flex flex-col mt-10">
        <!-- Logo -->
        <div class="m-auto w-full">
            <div class="flex flex-col justify-center items-center my-6 space-y-4">
                <h1 class="text-4xl font-extrabold leading-none text-blue-900 whitespace-nowrap">Forgot your password?</h1>
                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
            </div>
            <div class="flex flex-col items-center justify-center w-full">
                <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                        <form method="post" class="space-y-4 md:space-y-6">
                            {% csrf_token %}
                            <span>
                                <label for="email"
                                       class="block text-sm mb-2 font-medium text-blue-900 dark:text-white">
                                    Email
                                </label>
                                {{ form.email|add_class:"bg-brand-accent-light border border-brand-accent-medium text-blue-900 sm:text-sm rounded-lg focus:ring-blue-300 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                                {{ form.email.errors }}
                            </span>
                            <button type="submit" class="w-full btn btn-primary">Send me instructions</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
