{% extends "base.html" %}
{% block extra-css %}
    <style>
    #{{ variables_formset.empty_form.prefix }} {
        display: none;
    }
    </style>
{% endblock extra-css %}
{% block content %}
    <p class="mb-4 dark:text-gray-400">
        When publishing forms to ODK Central, a form will be created for each
        assigned App User. See <a href="https://docs.getodk.org/central-users/#managing-app-users"
    target="_blank"
    class="text-primary-600 hover:underline">Managing App
        Users</a> for more information regarding ODK Central's App Users.
    </p>
    <form method="post">
        {% csrf_token %}
        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        <div class="grid gap-4 sm:grid-cols-1 sm:gap-6 md:mb-4 lg:grid-cols-3 xl:grid-cols-4">
            {% for field in form.visible_fields %}
                <div id="id_{{ field.name }}_container">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>
        <h3 class="font-semibold text-gray-900 dark:text-white mb-2">Template variables</h3>
        <p class="mb-4 dark:text-gray-400">
            Template variables are used to substitute values in the form's
            definition for every matching <a class="text-primary-600 hover:underline"
    href="https://docs.getodk.org/form-logic/#calculations"
    target="_blank">calculate</a> question type.
        </p>
        {{ variables_formset.management_form }}
        {% with num_cols=variables_formset.empty_form.visible_fields|length %}
            <table class="mb-4 text-left w-full h-full text-sm text-gray-500 dark:text-gray-400 dark:bg-gray-800">
                <thead class="text-xs text-gray-700 uppercase bg-primary-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        {% for field in variables_formset.empty_form.visible_fields %}
                            <th class="px-4 py-3 whitespace-nowrap{% if field.name == 'DELETE' %} text-center{% endif %}">{{ field.label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="mb-4">
                    {% for form in variables_formset %}
                        {% for error in form.non_field_errors %}
                            <tr class="text-sm row">
                                <td class="px-3 pt-2 text-sm text-error dark:text-brand-danger-light"
                                    colspan="{{ num_cols }}">{{ error }}</td>
                            </tr>
                        {% endfor %}
                        <tr class="border-b border-primary-100 dark:border-gray-700 text-sm row">
                            {% for field in form.visible_fields %}
                                <td class="p-3{% if field.name == 'DELETE' %} text-center{% endif %}">
                                    {% if forloop.first %}
                                        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
                                    {% endif %}
                                    {{ field }}
                                    {{ field.errors }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr id="{{ variables_formset.empty_form.prefix }}"
                        class="border-b border-primary-100 dark:border-gray-700 text-sm row">
                        {% for field in variables_formset.empty_form.visible_fields %}
                            <td class="p-3{% if field.name == 'DELETE' %} text-center{% endif %}">
                                {% if forloop.first %}
                                    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
                                {% endif %}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="{{ num_cols }}" class="px-4 py-3">
                            <a id="add-template-variable"
                               href="#"
                               class="text-primary-600 hover:underline">
                                <svg class="inline-flex items-center w-4.5 h-4.5 mr-1.5 -ml-1 -mt-0.5 text-gray-800 dark:text-white"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9V6c0-.55228.44772-1 1-1h16c.5523 0 1 .44771 1 1v3M3 9v9c0 .5523.44772 1 1 1h16c.5523 0 1-.4477 1-1V9M3 9h18M8 9V5m4 4V5m4 4V5m-6 9h2m0 0h2m-2 0v-2m0 2v2" />
                                </svg>
                            Add another template variable</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        {% endwith %}
        <div class="flex items-center space-x-4">
            <button type="submit" class="btn btn-outline btn-primary">
                {% if app_user.id %}
                    Save
                {% else %}
                    Add
                {% endif %}
                app user
            </button>
            <a type="button"
               class="btn btn-outline"
               href="{% url 'publish_mdm:app-user-list' request.organization.slug request.odk_project.pk %}">Cancel</a>
        </div>
    </form>
    <script>
    document.getElementById("add-template-variable").addEventListener("click", function(event) {
        event.preventDefault();
        var totalFormsInput = document.querySelector("[name={{ variables_formset.prefix }}-TOTAL_FORMS]");
        var emptyForm = document.getElementById("{{ variables_formset.empty_form.prefix }}");
        var formCount = parseInt(totalFormsInput.value);
        var newForm = emptyForm.outerHTML.replace(/__prefix__/g, formCount);
        emptyForm.insertAdjacentHTML("beforebegin", newForm);
        totalFormsInput.value = formCount + 1;
    });
    </script>
{% endblock content %}
