{% extends "base.html" %}
{% block extra-css %}
    <style>
    #{{ variables_formset.empty_form.prefix }},
    #{{ attachments_formset.empty_form.prefix }} {
        display: none;
    }
    </style>
{% endblock extra-css %}
{% block content %}
    <p class="mb-4 dark:text-gray-400">An ODK Central project.</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        <div class="grid gap-4 sm:grid-cols-2 md:mb-4">
            <div class="grid gap-4 sm:grid-cols-1 sm:gap-6">
                {% for field in form.visible_fields %}
                    <div id="id_{{ field.name }}_container">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <h3 class="font-semibold text-gray-900 dark:text-white mb-2">Project-level Template Variables</h3>
        {% include "publish_mdm/includes/formset_table.html" with formset=variables_formset add_link_id="add-template-variable" add_link_text="Add another template variable" %}
        <h3 class="font-semibold text-gray-900 dark:text-white mb-2">Project Attachments</h3>
        {% include "publish_mdm/includes/formset_table.html" with formset=attachments_formset add_link_id="add-attachment" add_link_text="Add another attachment" %}
        {% if request.odk_project %}
            {% url 'publish_mdm:form-template-list' request.organization.slug request.odk_project.pk as cancel_url %}
        {% else %}
            {% url 'publish_mdm:organization-home' request.organization.slug as cancel_url %}
        {% endif %}
        <div class="flex items-center space-x-4">
            <button type="submit" class="btn btn-outline btn-primary">Save project</button>
            <a type="button" class="btn btn-outline" href="{{ cancel_url }}">Cancel</a>
        </div>
    </form>
{% endblock content %}
