{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% block content %}
    <p class="mb-4 dark:text-gray-400">
        A form template is used to create forms in ODK Central, one for each
        assigned App User.
    </p>
    <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8">
        {{ form.media }}
        <form method="post" class="max-w-2xl">
            {% csrf_token %}
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            <div class="grid gap-4 sm:grid-cols-1 sm:gap-6">
                {% for field in form.visible_fields %}
                    <div id="id_{{ field.name }}_container">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.name == "app_users" and not field.field.choices %}
                            <span class="text-sm">The current project does not have any App Users at the moment.</span>
                        {% endif %}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <div class="flex items-center space-x-4">
                    <button type="submit" class="btn btn-outline btn-primary">
                        {% if form_template.id %}
                            Save
                        {% else %}
                            Add
                        {% endif %}
                        form template
                    </button>
                    <a type="button"
                       class="btn btn-outline"
                       href="{% url 'publish_mdm:form-template-list' request.organization.slug request.odk_project.pk %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    {% get_social_accounts user as accounts %}
    {# Start Google Picker code #}
    <script>
    let googlePickerConfig = {
        accessToken: "{{ accounts.google.0.socialtoken_set.all.0.token }}",
        clientId: "{{ google_client_id }}",
        scopes: "{{ google_scopes }}",
        apiKey: "{{ google_api_key }}",
        appId: "{{ google_app_id }}",
        urlInputSelector: "#id_template_url",
        userInputSelector: "#id_template_url_user",
        user: {{ user.id }},
    }
    </script>
    <script src="{% static 'js/google_picker.js' %}"></script>
    <!-- Load the Google API Loader script. -->
    <script async
            defer
            src="https://apis.google.com/js/api.js"
            onload="onApiLoad()"></script>
    <script async
            defer
            src="https://accounts.google.com/gsi/client"
            onload="gisLoaded()"></script>
    {# End Google Picker code #}
{% endblock content %}
