{% extends "base.html" %}
{% load partials %}
{% block content %}
    <p class="mb-4 dark:text-gray-400">A group of MDM devices that can be assigned to an ODK project.</p>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        <div class="grid gap-4 sm:grid-cols-2 md:mb-8">
            <div class="grid gap-4 sm:grid-cols-1 sm:gap-6">
                {% for field in form.visible_fields %}
                    <div id="id_{{ field.name }}_container">
                        {% if field.name == "default_app_user" %}
                            {# djlint:off #}
                            {% partialdef default-app-user-partial inline %}
                                <div class="flex flex-row items-center">
                                    {{ form.default_app_user.label_tag }}
                                    <div class="loading hidden ml-3 mb-2 px-3 py-1 text-xs font-medium leading-none text-center text-primary-700 bg-primary-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">loading...</div>
                                </div>
                                {{ form.default_app_user }}
                                {{ form.default_app_user.errors }}
                            {% endpartialdef default-app-user-partial %}
                            {# djlint:on #}
                        {% else %}
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="flex items-center space-x-4">
            <button type="submit" class="btn btn-outline btn-primary">
                {% if fleet.id %}
                    Save
                {% else %}
                    Add
                {% endif %}
                fleet
            </button>
            <a type="button"
               class="btn btn-outline"
               href="{% url 'publish_mdm:fleets-list' request.organization.slug %}">Cancel</a>
        </div>
    </form>
{% endblock content %}
