{% extends "base.html" %}
{% block content %}
    <p class="mb-4 dark:text-gray-400">
        {% if not request.organizations %}Create your first organization.{% endif %}
        You can create multiple organizations and switch between them using the menu on the left sidebar.
    </p>
    <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
        {{ form.media }}
        <form method="post"
              class="max-w-2xl"
              x-data="{ mdm: '{{ form.mdm.value|escapejs }}' }">
            {% csrf_token %}
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            <div class="grid gap-4 sm:grid-cols-1 sm:gap-6">
                {% for field in form.visible_fields %}
                    {% if field.name in form.tinymdm_fields %}
                        <div id="id_{{ field.name }}_container" x-show="mdm === 'TinyMDM'">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% else %}
                        <div id="id_{{ field.name }}_container">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                            {% if field.name == "mdm" %}
                                <div class="flex items-center p-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
                                     role="alert"
                                     x-show="mdm === 'TinyMDM'">
                                    <svg class="shrink-0 inline w-4 h-4 me-3"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor"
                                         viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                                    </svg>
                                    <span class="sr-only">Warning</span>
                                    <div>
                                        TinyMDM is not actively supported for new customers. Please reach out to support if
                                        this is a requirement.
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="flex items-center space-x-4">
                    <button type="submit" class="btn btn-outline btn-primary">Save</button>
                    <a type="button" class="btn btn-outline" href="{% url 'home' %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
