<script>
function copyLink(inputId, defaultMsgId, successMsgId) {
    const el = document.getElementById(inputId);
    const text = el.value;
    const defaultMsg = document.getElementById(defaultMsgId);
    const successMsg = document.getElementById(successMsgId);
    navigator.clipboard.writeText(text).then(function() {
        defaultMsg.classList.replace('inline-flex', 'hidden');
        successMsg.classList.replace('hidden', 'inline-flex');
        setTimeout(function() {
            defaultMsg.classList.replace('hidden', 'inline-flex');
            successMsg.classList.replace('inline-flex', 'hidden');
        }, 2000);
    }).catch(function() {});
}
</script>
