{{ record.app_user_count }}
{% if record.app_user_count %}
    <span data-popover-target="app_users_{{ record.pk }}"
          data-popover-placement="right"
          class="ml-2 mb-2">
        <svg class="inline w-4 h-4 text-gray-500 dark:text-gray-200"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             fill="none"
             viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </span>
    <div data-popover
         id="app_users_{{ record.pk }}"
         role="tooltip"
         class="absolute max-w-sm z-100 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 tooltip dark:border-gray-700 dark:text-white dark:bg-gray-700">
        <div class="grid gap-y-2 gap-x-4 grid-cols-1{% if record.app_user_count >= 10 %} md:grid-cols-2{% endif %}">
            {% for name in record.app_user_names %}<span>{{ name }}</span>{% endfor %}
        </div>
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
{% endif %}
