{# Flowbite tooltip trigger icon. Use with: {% include "includes/info_icon.html" with tooltip_id="<id>" only %} #}
<span data-tooltip-target="{{ tooltip_id }}"
      data-tooltip-style="light"
      class="tooltip-icon">
    <svg class="inline h-4 w-4"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor"
         stroke-width="2"
         aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
</span>
