<header class="flex flex-col antialiased fixed top-0 z-50 w-full">
    <nav class="bg-blue-50 px-4 lg:px-6 py-2.5 dark:bg-gray-900 order-1 border-b border-gray-200">
        <div class="flex ju]stify-between items-center">
            <div class="flex justify-start items-center">
                <a href="{% url 'home' %}" class="flex mr-6">
                    <div title="Publish MDM"
                         class="mr-3 shadow-md flex items-center p-2 rounded-full ring-2 ring-primary-300 stroke-primary-700 fill-primary-400 stroke-[1.5] border-primary-400 bg-gradient-to-r from-primary-100 via-primary-200 to-primary-200">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-6 h-6"
                             viewBox="0 0 24 24"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                        </svg>
                    </div>
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white text-primary">Publish MDM</span>
                </a>
            </div>
        </div>
    </nav>
</header>
