{% if use_tag %}
    <div class="flex flex-row items-center">
        <{{ tag }}
        {% include "patterns/forms/attrs.html" %}
        class="block mb-2 font-medium
        {% if not field.errors %}
            text-gray-900 dark:text-white
        {% else %}
            text-error
        {% endif %}
        ">
        {{ label|title }}
        {% if field.field.required %}<span class="text-red">*</span>{% endif %}
        </{{ tag }}>
        {% if field.help_text %}
            <span data-popover-target="{{ attrs.for }}_popover"
                  data-tooltip-placement="right"
                  class="ml-2 mb-2">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-200"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     fill="none"
                     viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </span>
            <div id="{{ attrs.for }}_popover"
                 role="tooltip"
                 class="absolute max-w-sm z-50 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 tooltip dark:border-gray-700 dark:text-white dark:bg-gray-700">
                {{ field.help_text }}
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        {% endif %}
    </div>
{% else %}
    <span>
        {{ label|title }}
        {% if field.field.required %}<span class="text-red">*</span>{% endif %}
    </span>
{% endif %}
