{% if use_tag %}
    <div class="flex flex-row items-center">
        <{{ tag }}
        {% include "patterns/forms/attrs.html" %}
        class="block mb-2 font-medium
        {% if not field.errors %}
            text-gray-900 dark:text-white
        {% else %}
            text-red
        {% endif %}
        ">
        {{ label|title }}
        {% if field.field.required %}<span class="text-red">*</span>{% endif %}
        </{{ tag }}>
        {% if field.help_text %}
            <span data-popover-target="{{ attrs.for }}_popover"
                  data-tooltip-placement="right"
                  class="ml-2 mb-2">
                <svg class="w-4 h-4 text-gray-800 dark:text-white"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="currentColor"
                     viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
            </span>
            <div id="{{ attrs.for }}_popover"
                 role="tooltip"
                 class="absolute max-w-sm z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                {{ field.help_text }}
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        {% endif %}
    </div>
{% else %}
    <span>
        {{ label|title }}
        {% if field.field.required %}<span class="text-red">*</span>{% endif %}
    </span>
{% endif %}
