{% extends "base.html" %}
{% block content %}
    <section class="mx-auto max-w-screen-xl px-4 lg:px-12 bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-2xl lg:py-4">
            <h1 class="mb-4 text-2xl font-bold text-gray-900 dark:text-white">Welcome to ODK Publish</h1>
            <p class="text-lg text-gray-500 dark:text-gray-400">
                ODK Publish is a tool for managing and publishing forms to ODK Central.
            </p>
            <dl>
                <div class="flex mt-10">
                    <svg class="w-5 h-5 mr-2 text-green shrink-0"
                         fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd">
                        </path>
                    </svg>
                    <div>
                        <h3 class="mb-2 text-xl font-bold leading-none text-gray-900 dark:text-white">
                            Get started quickly with Google Sheets
                        </h3>
                        <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Import your own content and documents</p>
                    </div>
                </div>
                <div class="flex mt-4">
                    <svg class="w-5 h-5 mr-2 text-green shrink-0"
                         fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd">
                        </path>
                    </svg>
                    <div>
                        <h3 class="mb-2 text-xl font-bold leading-none text-gray-900 dark:text-white">Connect Tailscale devices</h3>
                        <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Sync data from your Tailnet</p>
                    </div>
                </div>
            </dl>
        </div>
    </section>
{% endblock content %}
